/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 80px;
    height: 3px;
    background: #4cd137;
    transform: translateX(-50%);
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: #333;
}
.navbar.sticky{
    padding: 15px 0;
    background: #4cd137;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #4cd137;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./assets/intro-bg.jpg') no-repeat top;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .max-width{
  margin: 10% 10%;
}
.home .home-content .text-1{
    font-size: 57px;
    text-align: center;
    margin-bottom: 20px;
}
.home .home-content .text-2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content a{
    display: inline-block;
    background: greenyellow;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 30px;
    margin-left: 30%;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid greenyellow;
    transition: all 0.3s ease;
    align-items: center;
}
.home .home-content a:hover{
    color: greenyellow;
    background: none;
}

/* about section styling */
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 15%;
    width: 80px;
    height: 3px;
    background: #4cd137;
    transform: translateX(-50%);
}
section .title span{
    color: #4cd137;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content a{
    display: inline-block;
    background: greenyellow;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 30px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid greenyellow;
    transition: all 0.3s ease;
}
.about .about-content a:hover{
    color: greenyellow;
    background: none;
}
.about .about-content1{
    display: flex;
    justify-content: space-between;
}
.about-content1 .card{
    width: calc(44% - 20px);
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: justify;
}
.about-content1 .card img{
    width: 250px;
    height: 250px;
}
.about-content1 .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
 .about-content1 .card:hover{
    background: greenyellow;
}
 .about-content1 .card .box{
    transition: all 0.3s ease;
}
 .about-content1 .card:hover .box{
    transform: scale(1.05);
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: greenyellow;
}
.services .title::before{
    background: #4cd137;
}

.services .serv-content .card{
    width: calc(23% - 10px);
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: greenyellow;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 10px solid green;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*Portfoliio*/
.wrapper{
    margin: 100px auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: lightcyan;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: greenyellow;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .gallery .image{
    width: calc(100% / 3);
    padding: 10px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }

  /*testimonial*/
.teams .carousel .text{
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 30px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 5px;
    width: 5px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #fff!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #fff!important;
}
  
/* contact section styling */

.contact .contact-content{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.con-text p{
    text-align: center;
}
.con-text .title {
    font-size: 20px;
    margin-bottom: 20px;
}
.wrapper1{
    width: 715px;
    margin-left: 20%;
  }
  .wrapper1 header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    text-align: center;
  }
  .wrapper1 form{
    margin: 35px 50px;
  }
  .wrapper1 form.disabled{
    pointer-events: none;
    opacity: 0.7;
  }
  form .dbl-field{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }
  .dbl-field .field{
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
  }
  
  form .field input,
  form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .field input::placeholder,
  .message textarea::placeholder{
    color: #ccc;
  }
  .field input:focus,
  .message textarea:focus{
    padding-left: 47px;
    border: 2px solid #4cd137;
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i{
    color: #4cd137;
  }
  form .message{
    position: relative;
  }
  form .message i{
    top: 30px;
    font-size: 20px;
  }
  form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar{
    width: 0px;
  }
  .message textarea:focus{
    padding-top: 14px;
  }
  form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .button-area button{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #4cd137;
    transition: background 0.3s ease;
    text-align: center;
  }
  .button-area button:hover{
    border: 2px solid #4cd137;
    color: #4cd137;
    background: #fff;
  }
  .button-area span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer .social-icon {
   text-align: center;
   padding: 30px 20px;
}
footer .social-icon a{
  color: #4cd137;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  background: #555;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 14px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .right {
        flex-direction: column;
    }
    .about .about-content .left{
        flex: 100%;
    }
    .services .serv-content .card,.about .about-content .right .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .gallery .image{
        width: calc(100% / 2);
      }
    
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home {
        background-position: center;
    }
    .home .home-content .text-1{
        font-size: 30px;
    }
    .home .home-content .text-2{
        font-size: 14px;
    }
    .home .home-content a{
        display: inline-block;
        background: greenyellow;
        color: #fff;
        font-size: 15px;
        padding: 12px 36px;
        margin-top: 30px;
        margin-left: 10%;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid greenyellow;
        transition: all 0.3s ease;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .about .title{
        font-size: 28px;
    }
    .about .about-content1{
        flex-direction: column;
    } 
    .wrapper nav .items{
        max-width: 600px;
      }
      nav .items span{
        padding: 7px 15px;
      }
      .contact .contact-content{
          flex-direction: column;
          padding-bottom: 20px;
      }
      
      
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 14px;
    }
    .home .home-content .button-area{
        font-size: 17px;
        text-align: center;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .wrapper{
        margin: 30px auto;
      }
      .wrapper nav .items{
        flex-wrap: wrap;
        justify-content: center;
      }
      nav .items span{
        margin: 5px;
      }
      .gallery .image{
        width: 100%;
      }
    .wrapper1{
        width: 300px;
        margin-left: 5%;
    }
      .wrapper1 header{
        text-align: center;
      }
      .wrapper1 form{
        margin: 35px 20px;
      }
      form .dbl-field{
        flex-direction: column;
        margin-bottom: 0px;
      }
      form .dbl-field .field{
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
      }
      form .message {
        width: 100%;
      }
      form .button-area{
        margin: 20px 0;
        flex-direction: column;
      }
      .button-area button{
        width: 100%;
        padding: 11px 0;
        font-size: 16px;
      }
      .button-area span{
        margin: 20px 0 0;
        text-align: center;
      }
}










